<footer>
    <div class="container">
    <div class="row">
	<div class="col-xs-6 col-sm-3">
	<h2>Contract CAE</h2>
	</div>
	<div class="col-xs-6 col-sm-3">
	<h4>Expertise</h4>
	<ul>
	    <li>Reduced Order Modeling</li>
	    <li>2D/3D Modeling</li>
	</ul>
	</div>
	<div class="col-xs-6 col-sm-3">
	<h4>Industries</h4>
	<ul>
	    <li>Foundry Sand Cores</li>
	    <li>Compressors</li>
	    <li>Die Casting</li>
	    <li>Turbochargers</li>
	    <li>Reverse Osmosis</li>
	</ul>
	</div>
	<div class="col-xs-6 col-sm-3">
	<h4>Info</h4>
	<ul>
	    <li>
	    <i class="icon-mail">
	    <a href="mailto:andrei@contractcae.com">
		<span>andrei@contractcae.com</span>
	    </a>
	    </i>
	    </li>
	    <li>
	    <i class="icon-phone">
		<a href="tel:15105623223">
		<span>(510) 562-3223</span>
		</a>  
	    </i>
	    </li>
	</ul>
	</div>
    </div>
    </div>
</footer>